


nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  background-color: black;
}

nav li {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 100px;
    background-color: bisque;
    border-style: outset;
}

nav li:hover {
    background-color: beige;
  }

nav li:active {
    border-style: inset;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

div {
    background-color: bisque;
}

h1 {
    font-size: 50px;
}

.title {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 70px;
}

.aboutMe p {
    max-width: 50%;
    text-indent: 50px;
    padding-left: 20px;
    font-size: 30px;
}

.aboutMe img {
    max-width: 30%;
    border-style: solid;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.aboutMeContent {
    display: flex;
}

.myWorkContent ul {
    list-style: none;
    display: flex;
}

.myWorkContent li {
    width: 100%;
}

