


nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  background-color: black;
}

nav li {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 100px;
    background-color: bisque;
    border-style: outset;
}

nav li:hover {
    background-color: beige;
  }

nav li:active {
    border-style: inset;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

div {
    background-color: bisque;
}

h1 {
    font-size: 50px;
}

.title {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 70px;
}

.aboutMe p {
    max-width: 50%;
    text-indent: 50px;
    padding-left: 20px;
    font-size: 30px;
}

.aboutMe img {
    max-width: 30%;
    border-style: solid;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.aboutMeContent {
    display: flex;
}

.myWorkContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border-style: solid;
    border-color: black;
    margin: 1%;
    width: 40%;
    color: white;
  }
  
  #project1 {
    margin: 1%;
    width: 82%;
    background-image: url("./images/background1.jpeg");
    background-size: cover;
    background-position: center;
    color: black;
  }

  #project2 {
    background-image: url("./images/background2.jpeg");
    background-size: cover;
    background-position: center;
  }

  #project3 {
    background-image: url("./images/background3.jpeg");
    background-size: cover;
    background-position: center;
  }  
  
  #project4 {
    background-image: url("./images/background4.jpeg");
    background-size: cover;
    background-position: center;
  }  
  
  #project5 {
    background-image: url("./images/background5.jpeg");
    background-size: cover;
    background-position: center;
  }

  .contactMeContent ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .contactMeContent li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-left: 10px;
    font-size: 30px;
  }

  @media screen and (max-width 800px) {
    li{
        max-width: 100%;
    }
  }